@font-face {
  font-family: 'CommitMono';
  font-weight: 450;
  src: url(/fonts/CommitMono-450-Regular.otf);
}

@font-face {
  font-family: 'CommitMono';
  font-weight: 450;
  font-style: italic;
  src: url(/fonts/CommitMono-450-Italic.otf);
}

@font-face {
  font-family: 'CommitMono';
  font-weight: 700;
  src: url(/fonts/CommitMono-700-Regular.otf);
}

@font-face {
  font-family: 'CommitMono';
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/CommitMono-700-Italic.otf);
}

// Setting default font
* {
  font-family: CommitMono, Roboto;
}

.text-title {
  font-weight: 700;
  font-size: 20px;
}

.text-title-subsection {
  font-weight: 700;
  font-size: 18px;
}

.text-subtitle-subsection {
  font-weight: 450;
  font-size: 18px;
}

.text-title-subsubsection {
  font-weight: 700;
  font-size: 14px;
}

.text-subtitle-subsection {
  font-weight: 450;
  font-size: 14px;
}

.q-item__section--avatar {
  min-width: 24px;
}

.skill-chip {
  margin: 0px;
  font-size: 12px;
}
