.text-title {
  font-weight: 700;
  font-size: 20px;
}

.text-title-subsection {
  font-weight: 700;
  font-size: 18px;
}

.text-subtitle-subsection {
  font-weight: 450;
  font-size: 18px;
}

.text-title-subsubsection {
  font-weight: 700;
  font-size: 14px;
}

.text-subtitle-subsection {
  font-weight: 450;
  font-size: 14px;
}

.q-item__section--avatar {
  min-width: 24px;
}

.skill-chip {
  margin: 0px;
  font-size: 12px;
}
